* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica;
}
html, body {
    height: 100%;
    width: 100%;
}
#main {
    height: 100%;
    width: 100%;
}

#intro {
    height: 65%;
    width: 100%;
    background-color: rgb(244, 238, 233);
    padding-left: 57px;
    padding-top: 70px;
}

#intro h1 {
    font-size: 115px;
    line-height: 110px;
}

#location {
    font-size: 25px;
}