* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
}
#parent {
    height: 100%;
    width: 100%;
    background-color: rgb(116, 185, 216);
    display: block;
    align-items: center;
    justify-content: center;
}
#child1 {
    height: 150px;
    width: 150px;
    background-color: rgb(197, 238, 11);
}
#child2 {
    height: 150px;
    width: 150px;
    background-color: rgb(238, 11, 124);
}
#child3 {
    height: 150px;
    width: 150px;
    background-color: rgb(41, 0, 154);
}